//General styles
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  * {
    box-sizing: border-box;
  }
}

body {
  width: 100%;
  max-width: 100%;
  background: $background-gray;
  font-size: 1rem;
  @extend .font-regular;
  line-height: 1.5;
  overflow-x: hidden;
  color: $dark-gray;
  min-height: 100vh;
}

//Headers
h1 {
  color: $black;
  @extend .font-title;
  font-size: calc(2.5rem + 1vw);
  line-height: calc(2.8rem + 1vw);
  margin-bottom: $one-u;
}

h2 {
  color: $black;
  @extend .font-sub-title;
  font-size: calc(2rem + 1vw);
  line-height: calc(2.3rem + 1vw);
  margin-bottom: $one-u;
}

h3,
h4,
h5,
h6 {
  font-size: calc(1rem + 1vw);
  line-height: calc(1.3rem + 1vw);
  color: $black;
  @extend .font-regular;
}

//Elements
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:not([type='checkbox']):not([type='radio']) {
  height: $two-u-h;
  padding-left: $half-u;
  padding-right: $half-u;
  width: 100%;
  margin-bottom: $one-u;
}

label {
  @extend .font-bold;
}

.button {
  height: $two-u-h;
  width: 100%;
  background-color: $blue;
  color: $white;
  @extend .font-bold;
  border-radius: 5px;
  border: none;
  outline: none;
}

.card {
  width: 100%;
  padding: $one-u;
  background-color: $white;
  border-radius: $half-u;
  box-shadow: 0rem 4px 6px rgba(0, 0, 0, 0.16);
}

// @media screen and (min-width: $mobile) {
// }

// @media screen and (min-width: $tablet) {
// }

// @media screen and (min-width: $laptop) {
// }

// @media screen and (min-width: $desktop) {
// }
