@import url(https://use.typekit.net/iox8ucf.css);

@mixin font-family($font-family, $weight, $style) {
  font-family: $font-family;
  font-weight: $weight;
  font-style: $style;
}

@mixin border-radius-all($radius) {
  border-radius: $radius;
}

@mixin text-shadow($px, $color) {
  text-shadow: $px $px 0 $color;
}

@mixin box-shadow($px, $color) {
  box-shadow: $px $px 0 $color;
}

@mixin background-opacity($color, $alpha) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  background: rgba($red, $green, $blue, $alpha);
}